@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  --main-bg-color: #2b4865;
  --secondary-color: #002b5b;
  --third-color: #256d85;
  --text-color: #8fe3cf;
}

::placeholder {
  color: #ddd;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 50px;
  font-size: 16px;
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--text-color);
  font-size: 62px;
  text-align: center;
}

button {
  background-color: var(--third-color);
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
  font-size: 20px;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 3px var(--secondary-color);
  cursor: pointer;
}

button:hover {
  box-shadow: 4px 4px 3px black;
  font-weight: bold;
}

.body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recent-scores {
  color: var(--text-color);
  min-width: 45%;
}

.table-header {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.table-header button {
  height: min-content;
}

.recent-scores ul {
  border: 2px solid var(--secondary-color);
  padding: 0;
}

.recent-scores li {
  list-style: none;
  padding: 10px;
  font-size: 24px;
}

.recent-scores li:nth-child(odd) {
  background-color: var(--secondary-color);
}

.add-score {
  color: var(--text-color);
  min-width: 45%;
}

.add-score form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.add-score input {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 10px;
  padding: 5px;
  height: 45px;
  font-size: 24px;
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
}

.add-score button {
  width: min-content;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}
